<% content_for :header_title, "Quick Health Questions" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t('medicaid.health_disability_member.edit.title') %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>


      <fieldset class="form-group">
        <legend class="sr-only">
          <%= t('medicaid.health_disability_member.edit.title') %>
        </legend>
        <% @step.members.each do |member| %>
          <%= f.fields_for('members[]', member, hidden_field_id: true) do |ff| %>
            <%= ff.mb_checkbox :disabled, member.display_name %>
          <% end %>
        <% end %>
        <%= f.mb_form_errors :disabled %>
      </fieldset>

      <%= render 'medicaid/next_step' %>
    <% end %>
  </div>
</div>
