<h1>Metrics</h1>

<h4>Empathy</h4>
<h4 class="subheader">I've figured out how to solve a problem in a way my target market will adopt and pay for.</h4>

<p>One measure of empathy is whether new users are signing up for the site.</p>

<figure>
  <figcaption>Sign-ups per day</figcaption>
  <table role="grid">
    <thead>
    <tr>
      <th colspan="2">Signed up</th>
      <th colspan="2">Users</th>
    </tr>
    </thead>
    <%= render partial: "daily_count_rows", locals: { metrics: Metrics.signups_per_day } %>
  </table>
</figure>

<figure>
  <figcaption>Sign-ups per week</figcaption>
  <table role="grid">
    <thead>
    <tr>
      <th colspan="2">Signed up</th>
      <th colspan="2">Users</th>
    </tr>
    </thead>
    <%= render partial: "daily_count_rows", locals: { metrics: Metrics.signups_per_week } %>
  </table>
</figure>

<h4>Stickiness</h4>
<h4 class="subheader">I've built the right features that keep users around.</h4>

<p>One measure of stickiness is how often users come back to the site. We don't have that information, but we know when they were last active on the site.</p>

<figure>
  <figcaption>Churn per day</figcaption>
  <table role="grid">
    <thead>
    <tr>
      <th colspan="2">Last Active</th>
      <th colspan="2">Users</th>
    </tr>
    </thead>
    <%= render partial: "daily_count_rows", locals: { metrics: Metrics.churn_per_day } %>
  </table>
</figure>

<figure>
  <figcaption>Churn per week</figcaption>
  <table role="grid">
    <thead>
    <tr>
      <th colspan="2">Last Active</th>
      <th colspan="2">Users</th>
    </tr>
    </thead>
    <%= render partial: "daily_count_rows", locals: { metrics: Metrics.churn_per_week } %>
    <tr>
      <td colspan="2">Lapsed</td>
      <td class="text-right"><%= Metrics.lapsed[:count] %></td>
      <td></td>
    </tr>
  </table>
</figure>
