<% content_for :header_title, "Income &amp; Expense Amounts".html_safe %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.amounts_income.edit.title",
            count: current_application.members.count,
            name: current_member.display_name) %>
    </div>
    <p class="text--help text--centered">
      Please provide the amount before taxes, not take home pay.
      If you don’t know the exact number, that’s okay. These questions aren’t
      required, but will help determine the benefits you are eligible for.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <%= f.hidden_field :id %>
      <%= f.mb_form_errors :incomes_missing %>

      <% @step.employments.each.with_index(1) do |employment, index| %>
        <fieldset class="form-group">
          <legend class="text--section-header">Job #<%= index %></legend>

          <%= f.fields_for('employments[]', employment, hidden_field_id: true) do |ff| %>
            <%= ff.mb_input_field(:employer_name, "Employer name") %>
            <%= ff.mb_money_field(:pay_quantity, "Average amount / paycheck") %>
            <%= ff.mb_select(
              :payment_frequency,
              "How often are you paid that amount?",
              Member::PAYMENT_INTERVALS,
              { layout: "inline" }
            ) %>
          <% end %>

        </fieldset>
      <% end %>

      <% if current_member.self_employed? %>
        <p class="text--section-header">
        Self-Employment
        </p>
        <%= f.mb_money_field :self_employed_monthly_income,
          "Monthly income (before taxes)" %>
      <% end %>

      <% if current_member.receives_unemployment_income? %>
        <p class="text--section-header">
        Other Income
        </p>
        <%= f.mb_money_field :unemployment_income,
          "Monthly unemployment income (before taxes)" %>
      <% end %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
