<% content_for :header_title, "Income & Expense Amounts" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us the specific income received.</div>
    <p class="text--help text--centered">
      Please provide the amount before taxes, not take home pay.
      If you don’t know the exact number, that’s okay. These questions aren’t
      required, but will help determine the benefits you are eligible for.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <% if current_application.anyone_employed? %>
        <% current_application.primary_member.employed_number_of_jobs&.times do |count| %>
          <%= f.mb_money_field "employed_monthly_income_#{count}",
            "Your Current Job (##{count + 1})",
            options: {
              name: "step[employed_monthly_income][]",
              id: "step_employed_monthly_income_#{count}",
            } %>
        <% end %>
      <% end %>

      <% if current_application.anyone_self_employed? %>
        <%= f.mb_money_field :self_employed_monthly_income,
          "Your Self-Employment (average monthly income)" %>
      <% end %>

      <% if current_application.
          primary_member.
          other_income_types.
          include?("unemployment") %>
        <%= f.mb_money_field :unemployment_income,
          "Your Unemployment (average monthly income)" %>
      <% end %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
