<% content_for :header_title, "Quick Tax Questions" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us your tax relationships with each person that you file taxes with.
    </div>
  </header>


  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
        <%= f.mb_form_errors :duplicate_joint_filers %>
        <fieldset class="form-group">
        <% @step.members.each do |member| %>
          <%= f.fields_for("members[]", member) do |ff| %>
            <%= ff.mb_select :tax_relationship,
              member.display_name,
              ['Joint', 'Dependent'],
              include_blank: "Choose one" %>
          <% end %>
        <% end %>
      </fieldset>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>

</div>
