<% content_for :template_name, "homepage" %>

<% if GateKeeper.feature_enabled?("FLOW_CLOSED") %>
  <main id="main" class="form-card">
    <header class="form-card__header">
      <h1 class="form-card__title">
        Michigan Benefits is closed
      </h1>
    </header>
    <div class="form-card__content">
      <p>
        Thank you to all clients and navigators who participated in the pilot! Applications are no longer being accepted.
      </p>

      <p>
        If you're looking to submit an application for benefits in Michigan, apply on MI Bridges.
      </p>

      <p>
        If you're interested in learning more about our efforts, we've collected our insights on an annotated demo site.
      </p>
    </div>

    <div class="form-card__footer">
      <%= link_to "Apply on MI Bridges", "https://www.michigan.gov/mibridges", class: "button button--cta" %>
      <%= link_to "Open demo site", "https://demo.michiganbenefits.org", class: "button" %>
    </div>
  </main>
<% elsif current_page?(root_path) && GateKeeper.demo_environment? %>
  <main id="main" class="form-card">
    <header class="form-card__header">
      <h1 class="form-card__title">
        A user-centered integrated benefits application
      </h1>
    </header>
    <div class="form-card__content">
      <p>
        The following is an application for both food assistance (SNAP) and healthcare (Medicaid) that was designed,
        built, and piloted for nine months with Applicants in Flint, Michigan. This work was a joint initiative between
        Code for America and Civilla. It was funded by a Process and Technology Improvement Grant from the Food and
        Nutrition Service.
      </p>
      <p>
        Designed alongside people applying for services in Flint, this form aimed to be easier to understand, faster to
        use, as well as deliver a more accurate application.
      </p>
      <p>
        Early results from the pilot show this approach reduced the time it takes to complete an application to ten
        minutes, improved approval rates by 35%, and earned a user satisfaction rate of 74%.
      </p>
      <p>
        This site is for example purposes only. If you need to submit an application, apply on MI Bridges. Otherwise,
        please continue to the demo.
      </p>
    </div>

    <div class="form-card__footer">
      <%= link_to "Apply on MI Bridges", "https://www.michigan.gov/mibridges", class: "button" %>
      <%= link_to "Continue to demo →", start_path, class: "button button--cta" %>
    </div>
  </main>
<% else %>
    <%= render 'shared/flashes' %>

    <div class="slab--hero-<%= rand(1..3) %> slab slab--hero slab--hero-centered">
      <div class="grid">
        <div class="logo-hero">MichiganBenefits.org</div>
        <h1 class="tooltip" <%= tooltip_title "Use positive and non-stigmatizing language and graphics to ensure a positive experience for the Applicant." %> >
          Get the support your family needs
        </h1>
        <p>
          Apply for benefits in 15 minutes
        </p>

        <% if GateKeeper.feature_enabled?("SINGLE_PROGRAM_APPLICATIONS") %>
            <div class="hero--cta-options grid__item  text--centered">
              <%= link_to step_path(StepNavigation.first) do %>
                  <p class="button button--cta button--fully-width">Apply for FAP</p>
                  <p class="text--help">Food Stamps</p>
              <% end %>

              <%= link_to step_path(Medicaid::StepNavigation.first) do %>
                  <p class="button button--cta button--fully-width">Apply for Medicaid</p>
                  <p class="text--help">Health insurance</p>
              <% end %>
            </div>
        <% else %>
            <div class="hero--cta-options grid__item  text--centered">
              <%= link_to section_path(FormNavigation.first) do %>
                  <p class="button button--cta button--fully-width tooltip" <%= tooltip_title "This is an example of a tooltip. These are used throughout the site to provide insights or suggest actions. Click or tap on any tooltip to hide it." %>>Start your application</p>
                  <p class="text--help">Food Assistance and Health Insurance</p>
              <% end %>
            </div>
        <% end %>

    </div>
  </div>

  <%= render "home_page_bottom_section_dual", office_page: nil %>
  <%= render "shared/footer", office_links: true %>
<% end %>
