<% content_for :template_name, 'homepage' %>
<% content_for :banner do
  render "shared/banner", banner_text: "Welcome to MDHHS on Union Street!"
end %>

<%= render 'shared/flashes' %>

<div class="slab--hero-union slab slab--hero">
  <div class="grid">
    <div class="logo-hero">MichiganBenefits.org</div>
    <div class="hero--header">
      <h1>
        Get the support your family needs
      </h1>
      <p class="hero--subheader">
        Complete applications for food stamps (FAP) and Medicaid here, and get interviewed
        at the Union Street office within 30 minutes.
      </p>
    </div>

    <% if GateKeeper.feature_enabled?("SINGLE_PROGRAM_APPLICATIONS") %>
        <div class="hero--cta-options grid__item">
          <%= link_to step_path(StepNavigation.first, office_page: "union") do %>
              <p class="button button--cta button--fully-width">Apply for FAP</p>
              <p class="text--help">Food Stamps</p>
          <% end %>

          <%= link_to step_path(Medicaid::StepNavigation.first, office_page: "union") do %>
              <p class="button button--cta button--fully-width">Apply for Medicaid</p>
              <p class="text--help">Health insurance</p>
          <% end %>
        </div>
    <% else %>
        <div class="hero--cta-options grid__item">
          <%= link_to section_path(FormNavigation.first, office_page: "union") do %>
              <p class="button button--cta button--fully-width">Start your application</p>
          <% end %>
        </div>
    <% end %>

    <p class="text--small">
      Not at the Union Street office? <%= link_to "Apply anywhere", root_path %>.
    </p>

  </div>
</div>

<%= render "home_page_bottom_section_dual", office_page: "union" %>
<%= render 'shared/footer', office_links: true %>
