- content_for :header_title, 'Money & Income'

.form-card
  = form_for @step, as: :step, url: current_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Since
          %span.text--sky
            #{inconsistent_members(@step.household_members)}'s
          income fluctuates, tell us more about their annual income

    .form-card__content
      - fields_for_each_member(f, @step.household_members) do |ff, member|
        - header = header_name(member)

        .household-member-group{ 'data-md5': data_md5(header) }
          .step-section-header__headline
            = header

          = render 'shared/question',
            f: ff,
            title: 'Expected income this year',
            type: :money_field,
            method: :expected_income_this_year

          = render 'shared/question',
            f: ff,
            title: 'Expected income next year',
            type: :money_field,
            help: 'If you think it will change',
            method: :expected_income_next_year

    = render 'shared/next_step'
