- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: household_personal_details_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Provide us with some personal details.

    .form-card__content
      = render 'shared/question',
        f: f,
        title: 'What is your sex?',
        help: "As it appears on your driver’s license",
        type: :radios,
        options: %w[male female],
        method: :sex

      = render 'shared/question',
        f: f,
        title: 'What is your marital status?',
        type: :select,
        options: %w[single married divorced separated],
        method: :marital_status

      = render 'shared/question',
        f: f,
        title: 'What is your social security number?',
        help: "If you don't have one or don't want to answer now it's okay to skip this",
        type: :text_field,
        method: :ssn,
        placeholder: 'SSN',
        safety: "Social security numbers help ensure you receive the correct benefits. MDHSS maintains strict security guidelines to protect the identities of our residents."

    = render 'shared/next_step'
