<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.tax_filing_with_household_members_member.edit.title") %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
                 as: :step,
                 builder: MbFormBuilder,
                 url: current_path,
                 method: :put do |f| %>

        <fieldset class="form-group">
          <legend class="sr-only">
            <%= t("medicaid.tax_filing_with_household_members_member.edit.title") %>
          </legend>
          <% @step.members.each do |member| %>
              <%= f.fields_for('members[]', member, hidden_field_id: true) do |ff| %>
                  <%= ff.mb_checkbox :filing_taxes_with_primary_member, member.display_name %>
              <% end %>
          <% end %>
          <%= f.mb_form_errors :filing_taxes_with_primary_member %>
        </fieldset>

        <%= render 'medicaid/next_step' %>
    <% end %>
  </div>
</div>
