<%= form_for([:admin, @account]) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <label>E-mail: <%= f.text_field :email %></label>
  </div>

  <% if @account.new_record? %>
  <div class="">
    <label>Password: <%= f.password_field :password %></label>
  </div>
  <% end %>

  <label>Roles:</label>
  <ul>
  <% @roles.each do |role| %>
  <li><label><%= check_box_tag "account[roles][]", role.id, @account.roles.include?(role) %> <%= role.name %></label>
  <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
