<h1>Listing accounts</h1>

<p>Found <%= @accounts.length %> accounts.

<table>
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.email %></td>
        <td><%= account.roles.map(&:name).join(', ') %></td>
        <td><%= link_to 'Show', admin_account_path(account) %></td>
        <td><%= link_to 'Edit', edit_admin_account_path(account) %></td>
        <td><%= link_to 'Destroy', admin_account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Account', new_admin_account_path %>
<p><%= link_to 'Back', admin_path %>
