<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="pre-title">Hello, <%= current_application.primary_member.first_name %>!</div>
    <div class="form-card__title">Now tell us about any other people residing
      in your household.
    </div>
    <p class="text--help text--centered">
      This includes everyone who lives in your home (including you), and anyone
      who is listed on your federal tax returns, even if they are not applying
      for benefits today.
    </p>
  </header>

  <div class="form-card__content">
    <div class="slab slab--not-padded">
      <div class="card card--narrow">
        <p>
          <i class="button__icon--left icon-check icon-check--color"></i>
          <%= "#{@step.primary_member.display_name} (That’s you!)" %>
        </p>
        <% @step.non_applicant_members.each do |member| %>
            <div>
              <p>
                <i class="button__icon--left icon-check icon-check--color"></i>
                <span id="member-name-<%= member.id %>"><%= member.display_name %></span>
                (<%= link_to "remove", medicaid_intro_household_remove_member_steps_path(member_id: member.id),
                            method: :put,
                            class: "remove",
                            "aria-labelledby": "member-name-#{member.id}" %>)
              </p>
            </div>
        <% end %>

        <%= link_to(
          decoded_step_path(step: Medicaid::IntroHouseholdMemberController),
          class: 'button button-full-width button-bold') do %>
          <i class="button__icon--left icon-add"></i>
          Add a member
        <% end %>

      </div>
    </div>
  </div>

  <footer class="form-card__button_right">
    <%= link_to(
      next_path,
      class: 'button button--nav  button--cta button--full-mobile') do %>
        Next
    <% end %>
  </footer>
</div>
