<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us who in the household self-employed.
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
        <fieldset class="form-group">
          <% @step.members.each do |member| %>
              <%= f.fields_for("members[]", member) do |ff| %>
                  <%= ff.mb_checkbox(
                          :self_employed,
                          member.display_name,
                          { checked_value: "1", unchecked_value: "0" },
                      ) %>
              <% end %>
          <% end %>
          <%= f.mb_form_errors :self_employed %>
        </fieldset>
        <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
