- content_for :header_title, 'Introduction'
- content_for :back_path, root_path

- if Rails.env.development?
  .debug
    = StepNavigation.new(@step).progress
    |
    = @step.class.name
    | app
    = current_user.app.id
    |
    = link_to "Nav", steps_path

.form-card
  = form_for @step, as: :step, url: introduction_introduce_yourself_path, method: :put do |f|
    -# TODO: Reconcile this with section_header in app/views/steps/helpers.rb
    %header.form-card__header
      .step-section-header
        .step-section-header__icon.illustration.illustration--hello
        %h4.step-section-header__headline We're here to help.
        %h3.step-section-header__subhead To start, please introduce yourself.

    .form-card__content
      = render 'shared/question',
        f: f,
        title: "What is your first name?",
        type: :text_field,
        method: :first_name,
        placeholder: "First name"

      = render 'shared/question',
        f: f,
        title: "What is your last name?",
        type: :text_field,
        method: :last_name,
        placeholder: "Last name"

    %footer.form-card__footer
      %button.button.button--cta.button--full-width(type="submit")
        Continue
        %i.button__icon.icon-arrow_forward
