<% content_for :header_title, "Contact Information" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us where to send you postal mail.
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_input_field :street_address, "Address", options:  { placeholder: "123 Main St." } %>
      <%= f.mb_input_field :city, "City", options:  { placeholder: "Flint" } %>
      <%= f.mb_input_field :zip, "ZIP code", options:  { placeholder: "12345" } %>
      <%= f.mb_radio_set :mailing_address_same_as_residential_address,
          'Is this address the same as your home address?',
          [{ value: true, label: "Yes" }, { value: false, label: "No" }],
          layout: "inline" %>
      <%= render 'shared/next_step' %>
    <% end %>
  </div>
</div>
