<% content_for :header_title, "Health Coverage Needs" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.insurance_current_type.edit.title",
            name: current_member.display_name) %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <%= f.hidden_field(:member_id, value: current_member.id) %>

      <%= f.mb_radio_set :insurance_type, "",
        @step.class::INSURANCE_TYPES.map { |value, label|
        { value: value, label: label }
      } %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
