<% content_for :navigation do %>
  <%= render partial: 'admin/admin/navigation' %>
<% end %>

<% content_for :body do %>
  <div class="app-container">
    <div class="app-nav">
      <%= yield :app_navigation %>
    </div>

    <div class="app-content">
      <%= yield %>
    </div>

    <div class="app-aside">
      <%= yield :app_aside %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/raw' %>
