<% content_for :navigation do %>
  <%= render partial: 'admin/admin/navigation' %>
<% end %>

<% content_for :body do %>
  <div class="app-container">
    <div class="app-nav">
      <% if content_for?(:app_navigation) %>
        <%= yield :app_navigation %>
      <% else %>
        <%= render partial: 'admin/admin/side_nav' %>
      <% end %>
    </div>

    <div class="app-content-wide">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/raw" %>
