<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.income_other_income_type.edit.title",
            count: current_application.members_count,
            name: current_member.display_name) %>
  </div>
    <p class="text--help text--centered">
      Check all that apply.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.hidden_field :member_id, value: current_member.id %>

      <%= f.mb_form_errors :other_income_types %>

      <%= f.mb_checkbox_set(
        [
          { method: :unemployment, label: "Unemployment" },
          { method: :pension, label: "Pension" },
          { method: :social_security, label: "Social Security" },
          { method: :retirement, label: "Retirement" },
          { method: :alimony, label: "Alimony" },
          { method: :other, label: "Other" },
        ],
        label_text: "" ) %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
