<% content_for :header_title, "Healthcare" %>

<% content_for :form_card_header do %>
    <h1 class="form-card__title">
      Who will you file taxes with?
    </h1>
    <p class="text--centered text--help">
      List everyone who will be included on your federal tax return this year — even if they aren't applying for health coverage today.
    </p>
    <p class="text--centered text--help">
      <a href="https://www.healthcare.gov/income-and-household-information/household-size/">Learn more</a> about who to include in your household.
    </p>
<% end %>

<% content_for :form_card_body do %>
  <div class="slab slab--not-padded">
    <div class="card card--narrow card--top">
      <p>
        <i class="button__icon--left icon-check icon-check--color"></i>
        <%= "#{@primary_member.display_name} (that's you!)" %>
      </p>
      <% @non_applicant_members.each do |member| %>
        <div>
          <p>
            <i class="button__icon--left icon-check icon-check--color"></i>
            <span id="member-name-<%= member.id %>"><%= member.display_name %></span>
            (<%= link_to "remove", remove_tax_member_sections_path(form: { member_id: member.id }),
                         method: :put,
                         class: "remove",
                         "aria-labelledby": "member-name-#{member.id}" %>)
          </p>
        </div>
      <% end %>
      <%= link_to(
              section_path(Integrated::AddTaxMemberController),
              class: 'button button-full-width button-bold') do %>
        <i class="button__icon--left icon-add"></i>
        Add a person
      <% end %>
    </div>
  </div>
<% end %>
