- classes = ["form-group"]
- classes << "form-group--error" if f.object.errors[method].present?

%div{ "data-md5" => Digest::MD5.hexdigest(title), "data-field-type" => type, class: classes }
  = f.label method, title, class: "form-question"

  - case type
  - when :text_field
    = f.text_field method, placeholder: placeholder, class: "text-input"
  - when :yes_no
    %label.radio-button
      = f.radio_button method, 'true'
      Yes

    %label.radio-button
      = f.radio_button method, 'false'
      No

  - if f.object.errors[method].present?
    %p.text--error
      %i.icon-warning
      = " #{f.object.errors[method].to_sentence}"
