:ruby
  errors = f.object.errors[method]
  form_classes = ['form-group']
  form_classes << 'form-group--error' if errors.present?
  label_classes = ['form-question']
  label_classes << 'hidden' if local_assigns[:label_hidden]

%div{ 'data-md5': data_md5(title), 'data-field-type': type, class: form_classes }
  - if %i[text_field text_area household_checkboxes radios select yes_no].include?(type)
    = f.label method, title, class: label_classes

  - if local_assigns[:help]
    %p.text--help= help

  - case type
  - when :radios
    %div
      - options.each do |option|
        %label.radio-button<
          = f.radio_button method, option
          = option.titleize

  - when :text_field
    = f.text_field method,
      placeholder: local_assigns[:placeholder],
      class: 'text-input'

  - when :select
    .select
      = f.select method,
        options.map { |option| [option.titleize, option] },
        { include_blank: 'Choose one' },
        class: 'select__element'

  - when :yes_no
    %label.radio-button<
      = f.radio_button method, 'true'
      Yes
    %label.radio-button<
      = f.radio_button method, 'false'
      No

  - when :text_area
    = f.text_area method,
      placeholder: local_assigns[:placeholder],
      class: 'textarea'

  - when :checkbox
    %label.checkbox
      = f.check_box method
      = title

  - when :household_checkboxes
    - fields_for_each_member(f, household_members) do |ff, member|
      %label.checkbox
        = ff.check_box method
        = member.name

  - if errors.present?
    %p.text--error
      %i.icon-warning
      = errors.to_sentence

  - if local_assigns[:safety]
    %p.text--secure
      %i.illustration.illustration--safety
      = safety
