- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: current_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Ok, let us know which people these situations apply to.

    .form-card__content
      - unless current_app.everyone_a_citizen
        = render 'shared/question',
          f: f,
          type: :household_checkboxes,
          method: :is_citizen,
          title: 'Who is a citizen?',
          household_members: @step.household_members

      - if current_app.anyone_disabled
        = render 'shared/question',
          f: f,
          type: :household_checkboxes,
          method: :is_disabled,
          title: 'Who has a disability?',
          household_members: @step.household_members

      - if current_app.any_new_moms
        = render 'shared/question',
          f: f,
          type: :household_checkboxes,
          method: :is_new_mom,
          title: 'Who is pregnant or has been pregnant recently?',
          household_members: @step.household_members

      - if current_app.anyone_in_college
        = render 'shared/question',
          f: f,
          type: :household_checkboxes,
          method: :in_college,
          title: 'Who is enrolled in college?',
          household_members: @step.household_members

      - if current_app.anyone_living_elsewhere
        = render 'shared/question',
          f: f,
          type: :household_checkboxes,
          method: :is_living_elsewhere,
          title: 'Who is temporarily living outside the home?',
          household_members: @step.household_members


    = render 'shared/next_step'
