<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.intro_college_member.edit.title") %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
        <fieldset class="form-group">
          <legend class="sr-only">
            <%= t("medicaid.intro_college_member.edit.title") %>
          </legend>
          <% @step.members.each do |member| %>
              <%= f.fields_for("members[]", member) do |ff| %>
                  <%= ff.mb_checkbox(
                    :in_college,
                    member.display_name,
                    { checked_value: "1", unchecked_value: "0" },
                  ) %>
              <% end %>
          <% end %>
          <%= f.mb_form_errors :in_college %>
        </fieldset>
        <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
