<% content_for :header_title, "Your Household" %>

<% if current_application.stable_address? %>
  <% content_for :form_card_header do %>
    <h1 class="form-card__title">
      Who do you currently live with?
    </h1>

    <p class="text--help text--centered">
      Tell us about everyone who lives in your home, even if they're not there all the time.
    </p>

    <p class="text--help text--centered">
      We'll ask about people outside the home later.
    </p>
  <% end %>
<% else %>
  <% content_for :form_card_title, "Who do you want to include on your Food Assistance application?" %>
<% end %>


<% content_for :form_card_body do %>
  <div class="slab slab--not-padded">
    <div class="card card--narrow">
      <p>
        <i class="button__icon--left icon-check icon-check--color"></i>
        <%= "#{current_application.primary_member.display_name} (that’s you!)" %>
      </p>
      <% current_application.non_applicant_members.each do |member| %>
        <div>
          <p>
            <i class="button__icon--left icon-check icon-check--color"></i>
            <span id="member-name-<%= member.id %>"><%= member.display_name %></span>
            (<%= link_to "remove", remove_household_member_sections_path(form: { member_id: member.id }),
                         method: :put,
                         class: "remove",
                         "aria-labelledby": "member-name-#{member.id}" %>)
          </p>
        </div>
      <% end %>

      <%= link_to(
            section_path(Integrated::AddHouseholdMemberController),
            class: 'button button-full-width button-bold') do %>
          <i class="button__icon--left icon-add"></i>
          Add a member
      <% end %>
    </div>
  </div>
<% end %>