<% content_for :template_name, 'homepage' %>
<% content_for :demo_banner { render 'shared/demo_banner' } %>

<div class="slab--hero-<%= rand(1..3) %> slab slab--hero">
  <div class="grid">
    <div class="logo-hero">MichiganBenefits.org</div>
    <h1>
      Get the support your family needs
    </h1>
    <p>
      Apply for food stamps in 15 minutes
    </p>
    <%= link_to step_path(StepNavigation.first), class: "button button--cta button--fully-width" do %>
      Apply now
      <i class="button__icon icon-arrow_forward"></i>
    <% end %>
  </div>
</div>

<div class="slab slab--white" id="apply-for-programs">
  <div class="card--narrow">
    <%= render 'shared/flashes' %>
    <label class="program-selector">
      <div class="program-selector__checkbox">
        <% icon_class = "illustration--icn_food" %>
      </div>
      <div class="<%= icon_class %> program-selector__icon illustration">
        <h4 class="program-selector__title">
          Food Assistance
        </h4>
      </div>
      <div class="program-selector__subtitle text--smell">
        Food Stamps, FAP or SNAP
      </div>
      <div class="text--help">
        Provides benefits to buy or grow food.
      </div>
    </label>
  </div>
</div>

<section class="slab" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-seven-twelfths">
      <p>
        MichiganBenefits.org is a non-profit offering online and in-person
        assistance to Michigan residents enrolling in the Food Assistance Program
        (food stamps). Most qualified households get more than $200 a month.
      </p>

      <p>
        To visit the official online application for food assistance, please visit
        <%= link_to 'MI Bridges', 'https://www.michigan.gov/mibridges' %>.
      </p>
    </div>

    <div class="grid__item width-one-fourth shift-one-sixth trust-badge">
      <a href="http://www.michigan.gov/mdhhs/" class="illustration illustration--mi_mdhhs">MDHHS</a>
      <p class="text--small">A registered Community Partner and digital application assister.</p>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
