- content_for :template_name, 'homepage'

.slab.slab--hero{ class: "slab--hero-#{rand(1..3)}" }
  .illustration--michigan-gov
  %h1
    Get the support your family needs
  %p
    Apply for Michigan Assistance Programs in 15 minutes

  = link_to '#fold', id: 'fold' do
    .icon-below-the-fold

#apply-for-programs.slab.slab--white
  .card--narrow
    = render 'shared/flashes'

    %label.program-selector
      .program-selector__checkbox
        - icon_class = "illustration--icn_food"
      .program-selector__icon.illustration{ class: icon_class }

        %h4.program-selector__title
          Food Assistance
      .program-selector__subtitle.text--smell
        Food Stamps, FAP or SNAP
      .text--help
        Provides benefits to buy or grow food.

    = link_to step_path(StepNavigation.first), class: "button button--cta button--fully-width" do
      Apply now
      %i.button__icon.icon-arrow_forward

.slab.slab--mdhhs
  %h1
    .illustration--mdhhs

  %p.text--light
    The Michigan Department of Health and Human Services offers temporary assistance programs that support families when times are tough.

= render 'shared/footer'
