- content_for :title, 'Your Household'

.form-card
  %header.form-card__header
    .step-section-header
      .step-section-header__subhead
        How many people are in your household?
      %p.text--help.step-section-header__subhead-help
        This includes everyone who lives in your home (including you) and anyone you
        list on your federal tax returns.

  .form-card__content
    .slab.slab--not-padded
      .card.card--narrow
        %div
          .button.buttonish.button--full-width
            %i.button__icon--left.icon-check--color
            #{@step.first_name.titleize} (that's you!)

        - @step.non_applicant_members.each do |member|
          %div
            - path = step_path(HouseholdAddMemberController, member_id: member.to_param)
            = link_to path, class: 'button button--full-width' do
              %i.button__icon--left.icon-check--color
              = member.first_name.titleize

        = link_to step_path(HouseholdAddMemberController),
          class: 'button button-full-width button-bold' do
          %i.button__icon--left.icon-add
          Add a member

  = render 'shared/next_step_link'
