<% content_for :header_title, "Documents" %>
<% content_for :header_javascript do %>
  <%= javascript_include_tag "https://js.shubox.io/v1/#{Rails.application.secrets.shubox_js_id}.js", defer: true %>
<% end %>

<div class="form-card" id="document-drop">
  <header class="form-card__header">
    <div class="step-section-header">
      <div class="step-section-header__subhead">
        Lastly, we suggest including some documents if you can right now.
      </div>
    </div>
  </header>
  <div class="form-card__content">
    <p>
      You can do this later but this will help speed up the process.
    </p>
    <p>
      Clicking the "Add documents button" that follows will allow you to upload
      photos of your documents taken with your phone. You may also drag and drop
      photos or documents onto this area of the page to upload them.
    </p>

    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put,
      html: { data: { 'documents-form' => 'true' } } do |f| %>

      <div class="form-card__documents" id="form-card__documents">
        <%= render partial: 'document',
          collection: current_snap_application.documents,
          as: :url %>

        <script id="form-card__documents__handlebars_template" type="text/x-handlebars-template">
          <%= render "document", url: nil %>
        </script>
      </div>

      <div class="form-card__documents__ctas">
        <button type="button" class="button button--next button--cta button--full-width" id="click-to-upload">
          <i class="icon-file_upload"></i>
          Add documents
        </button>

        <%= link_to send_application_steps_path, class: "button" do %>
          I'll do this later
        <% end %>
      </div>

      <%= render 'shared/next_step' %>
    <% end %>

    <div class="form-card__documents__faqs">
      <%= render 'shared/commonly_requested_documents' %>
    </div>
  </div>
</div>

<% unless Rails.env.test? -%>
  <script>
    window.onload = function() { uploadSetup("<%= j render "uploading" %>") }
  </script>
<% end -%>
