- content_for :header_title, 'Submit Documents'
- content_for :back_path, step_path(MaybeSubmitDocumentsController)

.slab.slab--white
  %h2
    Submit documents

  %p
    Based on your responses, you will need to submit the following documents:

  %ul.list--bulleted
    :ruby
      items = [
        'Copy of your ID',
        'Pay stubs (from the last 30 days)',
        'Checking account statement',
        'Rent receipt',
        'Child care receipt'
      ]

    - items.each do |item|
      %li
        %span
          = item

  %p.text--help
    You can also do this later if now is not a good time.

%a.step-anchor#attachments

.slab.slab--white
  - if @documents.empty?
    %p.text--centered
      No documents uploaded yet.

  .slab--clearfix.attachment-container
    - @documents.each do |document|
      .attachment-preview
        = link_to document.file.url, class: 'attachment-preview__link',
          target: '_blank' do
          - if document.image?
            = image_tag document.file.url(:thumb)
          - else
            -# TODO: placeholder image for non-images
            %i.icon-photo{ style: 'font-size: 50px;' }

        = link_to 'Delete',
          document_path(document),
          method: :delete,
          class: 'attachment-preview__delete'

  .form-card__footer
    = link_to 'Add a document', new_document_path, class: 'button button--cta'

    - next_page = clear_sessions_path(redirect_to: confirmations_path)

    - if @documents.empty?
      = link_to "I'll do this later", next_page, class: 'button button--secondary-cta'
    - else
      = link_to next_page, class: 'button button--secondary-cta' do
        I'm finished
        %i.icon-arrow_forward
