<% content_for :header_title, "Quick Health Questions" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.health_pregnancy_member.edit.title") %>
    </div>
    <p class="text--help text--centered">
      Currently pregnant or pregnant in the past three months.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <fieldset class="form-group">
        <legend class="sr-only" id="pregnant__legend">
          <%= t("medicaid.health_pregnancy_member.edit.title") %>
        </legend>
        <% @step.members.each do |member| %>
          <%= f.fields_for("members[]", member) do |ff| %>
            <%= ff.mb_checkbox(
              :new_mom,
              member.display_name,
              legend_id: "pregnant__legend",
              options: { checked_value: "1", unchecked_value: "0" }
            ) %>
          <% end %>
        <% end %>
        <%= f.mb_form_errors :recently_pregnancy %>
      </fieldset>

     <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
