<% content_for :header_title, "Money & Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("snap.income_employment_status.edit.title") %>
    </div>
    <p class="text--help text--centered">
      <%= t("snap.income_employment_status.edit.title_help") %>
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <% @step.members.each do |member| %>
        <%= f.fields_for("members[]", member, hidden_field_id: true) do |ff| %>
          <%= ff.mb_radio_set :employment_status,
            member.display_name,
            [{ value: :employed, label: "Employed" }, { value: :self_employed, label: "Self Employed" }, { value: :not_employed, label: "Not Employed" }],
            legend_class: "text--section-header" %>
        <% end %>
      <% end %>

      <%= render "shared/next_step" %>
    <% end %>
  </div>
</div>
