<% content_for :header_title, "Paperwork" %>

<% content_for :header_javascript do %>
  <%= javascript_include_tag "https://js.shubox.io/v1/#{Rails.application.secrets.shubox_js_id}.js", defer: true %>
<% end %>

<%= form_for @step,
  as: :step,
  builder: MbFormBuilder,
  url: current_path,
  method: :put,
  html: { data: { 'uploadables-form' => 'true' } } do |f| %>

  <div class="form-card" id="uploadables-drop">
    <header class="form-card__header">
      <div class="form-card__title">
        Upload paperwork
      </div>
    </header>
    <div class="form-card__content">
      <div class="form-group">
        <% if browser.device.tablet? || browser.device.mobile? %>
          <p>
            Click the button below to take a photo or upload your paperwork.
          </p>
          <p>Make sure your photos are clear and easy to read:</p>
          <ul class="list--bulleted">
            <li>Hold your phone still</li>
            <li>Choose a well-lit location</li>
            <li>Include the whole page</li>
          </ul>

        <% else %>
          <p>
            Click the "Upload paperwork” button below, or drag and drop photos or
            documents onto this area of the page.
          </p>
        <% end %>
      </div>

      <div class="form-card__uploadables" id="form-card__uploadables">
        <%= render partial: 'shared/uploadable',
                   collection: current_application.paperwork,
                   locals: { attribute_name: "paperwork" },
                   as: :url %>
      </div>


      <button type="button" class="button button--full-mobile button--cta" id="click-to-upload">
        <i class="icon-file_upload"></i>
        <% if browser.device.tablet? || browser.device.mobile? %>
            Take a photo
        <% else %>
            Upload paperwork
        <% end %>
      </button>

      <button class="button button--full-mobile" type="submit" data-done-uploading>
        Finish <span class="icon-arrow_forward"></span>
      </button>

      <p class='text--secure'>
        <i class='illustration illustration--safety'></i>
        Both MichiganBenefits.org and MDHHS maintain strict security guidelines
        to protect the identities of Michigan residents.
      </p>

      <div class='slab'>
        <%= render "shared/commonly_requested_uploadables",
                   uploadable_name: "paperwork" %>
      </div>
    </div>


  </div>
<% end %>

<% unless Rails.env.test? -%>
  <script>
    window.onload = function() {
      uploadSetup("<%= j render "shared/uploadable_uploading", attribute_name: "paperwork" %>")
    }
  </script>
<% end -%>
