<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--hello"></div>
    <div class="pre-title">We’re here to help.</div>
    <div class="form-card__title">To start, please introduce yourself.</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_input_field :first_name,
        "What is your first name?",
        autofocus: true %>
      <%= f.mb_input_field :last_name, "What is your last name?" %>
      <%= f.mb_date_select :birthday, "What is your birthday?", { options: { start_year: 1900, end_year: Time.now.year, default: Date.new(1990,1,15), order: [:month, :day, :year] } } %>
      <%= f.hidden_field :office_location, value: @step.office_location %>
      <%= render partial: 'shared/next_step' %>
    <% end %>
  </div>
</div>
