<% content_for :header_title, 'Money & Income' %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us more about your household's employment
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <% @step.members.each do |member| %>
        <fieldset class="form-group">
          <%= f.fields_for('members[]', member, hidden_field_id: true) do |ff| %>
            <% if member.employed? %>
              <%= render "header", member: member %>
              <%= ff.mb_input_field :employed_employer_name,
                  "Employer name" %>
              <%= ff.mb_input_field :employed_hours_per_week,
                  "Usual hours per week",
                  type: :tel,
                  optional: true %>
                <%= ff.mb_money_field :employed_pay_quantity,
                  "Pay (before tax)",
                  notes: ["This includes money withheld from paychecks"],
                  optional: true %>
                <%= ff.mb_select :employed_pay_interval,
                  "How often are you paid that amount?",
                  Member::PAYMENT_INTERVALS,
                  { layout: "inline", optional: true } %>
              <% elsif member.self_employed? %>
                <%= render "header", member: member %>
                <%= ff.mb_input_field :self_employed_profession,
                    "Type of work",
                    optional: true %>
                <%= ff.mb_money_field :self_employed_monthly_income,
                  "Average monthly pay (before tax)",
                  optional: true %>
                <%= ff.mb_money_field :self_employed_monthly_expenses,
                  "Monthly business expenses",
                  optional: true %>
              <% end %>
                </div>
              <% end %>
        </fieldset>
      <% end %>
      <%= render 'shared/next_step' %>
    <% end %>
  </div>
</div>
