<% content_for :header_title, "Paperwork" %>

<div class="form-card">
  <header class="form-card__header">
    <h1 class="form-card__title">
      Review your paperwork
    </h1>
    <p class="text--centered">
      Ask a lobby navigator for help if you need it.
    </p>
  </header>

  <div class="form-card__content">
    <% if @doc_guide[:today].empty? && @doc_guide[:soon].empty? && @doc_guide[:need_help].empty? %>
        <p>
          Do you have any paperwork with you? You can upload it now.
        </p>
    <% else %>

        <% if @doc_guide[:need_help].present? %>
            <h2 class="h4">Ask a lobby navigator for help with:</h2>
            <ul class="list--bulleted">
              <% @doc_guide[:need_help].each do |message| %>
                  <li><%= raw(message) %></li>
              <% end %>
            </ul>
        <% end %>

        <% if @doc_guide[:soon].present? %>
            <h2 class="h4">Make a plan to get:</h2>
            <ul class="list--bulleted">
              <% @doc_guide[:soon].each do |message| %>
                  <li><%= raw(message) %></li>
              <% end %>
            </ul>
        <% end %>

        <% if @doc_guide[:today].present? %>
            <h2 class="h4">Upload now:</h2>
            <ul class="list--bulleted">
              <% @doc_guide[:today].each do |message| %>
                  <li><%= raw(message) %></li>
              <% end %>
            </ul>
        <% end %>

    <% end %>

    <p class="notice">
      Your caseworker may ask for other paperwork after they review your application.
    </p>

  </div>

  <footer class="form-card__footer">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <%= f.hidden_field(:upload_paperwork, class: 'boolean-answer') %>

      <button
        type="submit"
        class="button button--full-mobile button--cta"
        data-yes> Upload paperwork now </button>

      <button
        type="submit"
        class="button button--full-mobile"
        data-no> I'll do this later
        <span class="icon-arrow_forward"></span>
      </button>

    <% end %>
  </footer>

</div>
