<% content_for :header_title, "Current Expenses" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us who pays child support, alimony, or arrears.
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>


      <fieldset class="form-group">
        <% @step.members.ordered.each do |member| %>
          <%= f.fields_for('members[]', member, hidden_field_id: true) do |ff| %>
          <%= ff.mb_checkbox(:pay_child_support_alimony_arrears,
                             member.display_name) %>
          <% end %>
        <% end %>
        <%= f.mb_form_errors :child_support_alimony_arrears %>
      </fieldset>

      <%= render 'medicaid/next_step' %>
    <% end %>
  </div>
</div>
