<% content_for :header_title, "Health Coverage Needs" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.insurance_current_member.edit.title") %>
    </div>
    <% if members_not_needing_insurance.present? %>
      <p class="text--help text--centered">
        <%= t("medicaid.insurance_current_member.edit.helper_text",
              count: members_not_needing_insurance.count,
              names: members_not_needing_insurance.map(&:display_name).to_sentence) %>
      </p>
    <% end %>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
        <fieldset class="form-group">
          <legend class="sr-only">
            <%= t("medicaid.insurance_current_member.edit.title") %>
          </legend>
          <% @step.members.each do |member| %>
              <%= f.fields_for("members[]", member) do |ff| %>
                <%= ff.mb_checkbox(
                    :insured,
                    member.display_name,
                    { checked_value: "1", unchecked_value: "0" },
                ) %>
              <% end %>
          <% end %>
          <%= f.mb_form_errors :insured %>
        </fieldset>
        <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
