<% content_for :template_name, 'homepage' %>
<% content_for :banner do
  render "shared/banner", banner_text: "You are logged in as Example Caseworker at Clio Road"
end %>

<%= render 'shared/flashes' %>

<div class="slab">
  <div class="grid">
    <%= form_for @casenote do |f| %>
      <legend>Send client message</legend>
      <%= f.label :phone, 'Client' %>
      <%= f.select(:phone, [['Alan W. - 817-713-6264', '8177136264'],
                           ['Ben G. - 831-420-7603', '8314207603'],
                           ['Luigi R. - 848-702-4594', '8487024594']]) %>

    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>