<%= form_for([:admin, @role]) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <label>Name: <%= f.text_field :name %></label>
  </div>

  <div class="">
    <label>Key: <%= f.text_field :key %></label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
