<% content_for :header_title, "Your Household" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us about another person you are applying with.
    </div>
    <p class="text--help text--centered">
      If you don’t know the answer to a question, that’s okay.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path(member_id: member_id), method: :put do |f| %>
      <%= f.mb_input_field :first_name,
        "What is their first name?",
        autofocus: true %>
      <%= f.mb_input_field :last_name, "What is their last name?" %>
      <%= f.mb_radio_set :sex,
        label_text: "What is their sex?",
        collection:  [{ value: :male, label: "Male" }, { value: :female, label: "Female" }],
        help_text: "As it appears on your driver’s license",
        layout: "inline" %>
      <%= f.mb_select :relationship,
        "What is their relationship to you?",
        ["Spouse", "Parent", "Child", "Sibling", "Roommate", "Other"],
        include_blank: "Choose one" %>
      <%= f.mb_date_select :birthday,
        "What is their birthday?",
        options: {
          start_year: 1900,
          end_year: Time.now.year,
          default: Date.new(1990,1,15),
          order: [:month, :day, :year]
        } %>
      <%= f.mb_input_field :ssn,
        "What is their Social Security Number?",
        type: :tel,
        options: { maxlength: 9 },
        help_text: "If they don’t have one or you don’t know it you can skip this"
      %>
      <p class="text--secure"><i class="illustration illustration--safety"></i><%= t("ssn.description") %></p>
      <%= f.mb_radio_set :requesting_food_assistance,
        label_text: "Is this person requesting food assistance?",
        collection: [{ value: true, label: "Yes" }, { value: false, label: "No" }],
        layout: "inline" %>
      <%= f.mb_radio_set :buy_food_with,
        label_text: "Do you buy/make food with this person?",
        collection: [{ value: true, label: "Yes" }, { value: false, label: "No" }],
        layout: "inline" %>
      <%= render "shared/next_step" %>
    <% end %>
  </div>
</div>
