<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--hello"></div>
    <div class="pre-title">We're here to help.</div>
    <div class="form-card__title">Let's start with some information about you</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_input_field :first_name,
        "What is your first name?",
        autofocus: true %>
      <%= f.mb_input_field :last_name, "What is your last name?" %>
      <%= f.mb_radio_set :sex,
        'What is your gender?',
        [{ value: :male, label: "Male" }, { value: :female, label: "Female" }],
        notes: ["As it appears on official government documents"],
        layout: "inline" %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
