<% content_for :header_title, "Expenses" %>

<div class="form-card">
    <header class="form-card__header">
      <div class="form-card__title">
        Tell us more about the other expenses you listed.
      </div>
    </header>

    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <div class="form-card__content">
        <% if current_snap_application.dependent_care? %>
          <p class="text--section-header">
            Care expenses
          </p>

          <fieldset class="form-group">
            <%= f.mb_money_field :monthly_care_expenses,
              "In total, how much do you pay in care expenses each month?",
              autofocus: true,
              optional: true %>

            <%= f.mb_checkbox_set [
              { method: :childcare, label: "Childcare" },
              { method: :disabled_adult_care, label: "Disabled adult care" },
            ],
            label_text: "What kind of care expenses do you have?",
            optional: true %>
        </fieldset>
        <% end %>

        <% if current_snap_application.medical? %>
          <p class="text--section-header">
            Medical Expenses
          </p>

          <fieldset class="form-group">
            <%= f.mb_money_field :monthly_medical_expenses,
              "In total, how much do you pay in ongoing medical expenses each month?",
            optional: true %>

            <%= f.mb_checkbox_set [
              { method: :health_insurance, label: "Health insurance" },
              { method: :co_pays, label: "Co-pays" },
              { method: :prescriptions, label: "Prescriptions" },
              { method: :dental, label: "Dental" },
              { method: :in_home_care, label: "In-home care" },
              { method: :transportation, label: "Transportation" },
              { method: :hospital_bills, label: "Hospital bills" },
              { method: :other, label: "Other" },
            ], label_text: "What kind of ongoing medical expenses do you have?",
            optional: true %>
          </fieldset>
        <% end %>

        <% if current_snap_application.court_ordered? %>
          <p class="text--section-header">
            Court-ordered expenses
          </p>

          <fieldset class="form-group">
            <%= f.mb_money_field :monthly_court_ordered_expenses,
              "In total, how much do you pay in court-ordered expenses each month",
            optional: true %>

            <%= f.mb_checkbox_set [
              { method: :child_support, label: "Child support" },
              { method: :alimony, label: "Alimony" },
            ], label_text: "What kind of court-ordered expenses do you have?",
            optional: true %>
            </fieldset>
        <% end %>
      </div>

      <%= render "shared/next_step" %>
    <% end %>
</div>
