- content_for :header_title, 'Expenses'

.form-card
  = form_for @step, as: :step, url: current_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Tell us more about the other expenses you listed.

    .form-card__content
      :ruby
        template = {
          dependent_care: {
            title: 'Care expenses',
            expense: {
              title: 'In total, how much do you pay in care expenses each month?',
              method: :monthly_care_expenses
            },
            kinds: {
              title: 'What kind of care expenses do you have?',
              checkboxes: {
                childcare: 'Childcare',
                elderly_care: 'Elderly Care',
                disabled_adult_care: 'Disabled adult care'
              }
            }
          },
          medical: {
            title: 'Medical expenses',
            expense: {
              title: 'In total, how much do you pay in medical expenses each month?',
              method: :monthly_medical_expenses
            },
            kinds: {
              title: 'What kind of medical expenses do you have?',
              checkboxes: {
                health_insurance: 'Health insurance',
                co_pays: 'Co-pays',
                prescriptions: 'Prescriptions',
                dental: 'Dental',
                in_home_care: 'In-home care',
                transportation: 'Transportation',
                hospital_bills: 'Hospital bills',
                other: 'Other'
              }
            }
          },
          court_ordered: {
            title: 'Court-ordered expenses',
            expense: {
              title:
                'In total, how much do you pay in court-ordered expenses each month?',
              method: :monthly_court_ordered_expenses
            },
            kinds: {
              title: 'What kind of court-ordered expenses do you have?',
              checkboxes: {
                child_support: 'Child support',
                alimony: 'Alimony'
              }
            }
          },
          tax_deductible: {
            title: 'Tax-deductible expenses',
            expense: {
              title:
                'In total, how much do you pay in tax-deductible expenses each month?',
              method: :monthly_tax_deductible_expenses
            },
            kinds: {
              title: 'What kind of tax-deductible expenses do you have?',
              checkboxes: {
                student_loan_interest: 'Student loan interest',
                other_tax_deductible: 'Other'
              }
            }
          }
        }

      - template.each do |name, section|
        - if @sections[name]
          %h4.step-section-header__headline
            = section[:title]

          = render 'shared/question',
            f: f,
            title: section[:expense][:title],
            method: section[:expense][:method],
            type: :money_field,
            no_bottom_space: true

          :ruby
            checkboxes = section[:kinds][:checkboxes].map do |method, title|
              {
                method: method,
                title: title,
                type: :checkbox
              }
            end

            checkboxes[0...-1].each { |h| h[:no_bottom_space] = true }

          %p.form-question
            = section[:kinds][:title]

          - questions f, checkboxes

    = render 'shared/next_step'
