<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us who in your household has one or more jobs.
    </div>
    <p class="text--help text--centered">
      This includes full time, part time, temporary, and contract jobs.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <% @step.members.each do |member| %>
        <fieldset class="form-group household-member-group" data-member-name="<%= member.display_name %>">
          <legend class="text--section-header"><%= member.display_name %></legend>
          <%= f.fields_for('members[]', member, hidden_field_id: true) do |ff| %>
              <%= ff.mb_select :employed_number_of_jobs,
                "",
                (0..10).map { |number| [pluralize(number, "job"), number] } %>
          <% end %>
        </fieldset>
      <% end %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
