<% content_for :header_title, "Your Household" %>
<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("snap.household_more_info_per_member.edit.title") %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>

      <% if !current_application.everyone_a_citizen? %>
        <fieldset class="form-group">
          <legend class="form-question">
            <%= t("snap.household_more_info_per_member.edit.prompt") %>
          </legend>
          <% @step.members.each do |member| %>
            <%= f.fields_for('members[]', member) do |ff| %>
              <%= ff.mb_checkbox(
                :citizen,
                member.display_name,
              ) %>
            <% end %>
          <% end %>
        </fieldset>
      <% end %>

      <% if current_application.anyone_disabled? %>
        <fieldset class="form-group">
          <legend class="form-question" id="disabled__legend">Who has a disability?</legend>
          <%= render 'member_checkboxes', f: f, step: @step, method: :disabled %>
        </fieldset>
      <% end %>

      <% if current_application.anyone_new_mom? %>
        <fieldset class="form-group">
          <legend class="form-question" id="pregnant__legend">Who is pregnant or has been pregnant recently?</legend>
          <%= render 'member_checkboxes', f: f, step: @step, method: :new_mom  %>
        </fieldset>
      <% end %>

      <% if current_application.anyone_in_college? %>
        <fieldset class="form-group">
          <legend class="form-question" id="college__legend">Who is enrolled in college?</legend>
          <%= render 'member_checkboxes', f: f, step: @step, method: :in_college %>
        </fieldset>
      <% end %>

      <% if current_application.anyone_living_elsewhere? %>
        <fieldset class="form-group">
          <legend class="form-question" id="elsewhere__legend">Who is temporarily living outside the home?</legend>
          <%= render 'member_checkboxes', f: f, step: @step, method: :living_elsewhere %>
        </fieldset>
      <% end %>

      <%= render 'shared/next_step' %>
    <% end %>
  </div>
</div>
