- content_for :header_title, 'Preferences'

.form-card
  = form_for @step, as: :step, url: current_path,
    method: :put do |f|
    %header.form-card__header
      .step-section-header
        - icon 'confirmation-message'
        .step-section-header__subhead
          Great! You'll receive a confirmation message soon.

    .form-card__content
      .slab.slab--not-padded
        .card.card--narrow
          - if current_app.sms_reminders?
            .with-padding-med
              We'll send text messages to you at
              = succeed('.') do
                %strong<
                  = number_to_phone current_app.phone_number

          - if current_app.email_reminders?
            = render 'shared/question',
              f: f,
              title: "What's the best email address for you?",
              placeholder: 'E-mail address',
              method: :email,
              type: :text_field

    = render 'shared/next_step'
