<% content_for :header_title, "Income & Expense Amounts" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.amounts_expenses.edit.title",
            count: @step.members_count,
            name: current_member.display_name) %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.hidden_field :member_id, value: current_member.id %>
      <% if current_member.pay_child_support_alimony_arrears? %>
        <p class="text--section-header">
          Child Support, Alimony, or Arrears
        </p>
        <%= f.mb_money_field :child_support_alimony_arrears_expenses,
          "Monthly expenses" %>
      <% end %>

      <% if current_member.pay_student_loan_interest? %>
        <p class="text--section-header">
          College Loan Interest
        </p>
        <%= f.mb_money_field :student_loan_interest_expenses,
          "Monthly expenses" %>
      <% end %>

      <% if current_member.self_employed? %>
        <p class="text--section-header">
        Self-Employment
        </p>
        <%= f.mb_money_field :self_employed_monthly_expenses,
          "Average monthly expenses",
          notes: ["If you have no self-employment expenses, please indicate that by entering 0"] %>
      <% end %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
