<% content_for :header_title, "Application Submitted" %>

<% content_for :form_card do %>
  <main id="main" class="form-card">
    <header class="form-card__header">
      <div class="illustration illustration--success"></div>
      <div class="pre-title tooltip" <%= tooltip_title "Applicants didn’t always realize they had reached the true end of the application. A different background color helps signify that this screen is a departure from the rest of the application." %>>Congratulations</div>
      <div class="form-card__title">
        Your application has been successfully submitted to MDHHS.
      </div>
      <div class="text--caps text--centered text--little-help nudge--med">
        You applied for:
      </div>
      <div class="program-selector--container">
        <% if current_application.navigator.applying_for_food? %>
            <label class="program-selector program-selector__unbordered">
              <div class="illustration illustration--icn_food"></div>
              <h4 class="program-selector__title">Food Assistance</h4>
            </label>
        <% end %>
        <% if current_application.navigator.applying_for_healthcare? %>
            <label class="program-selector program-selector__unbordered">
              <div class="illustration illustration--icn_health"></div>
              <h4 class="program-selector__title">Medicaid</h4>
            </label>
        <% end %>
      </div>
    </header>

    <div class="form-card__content">
      <span class="tooltip" <%= tooltip_title "Applicants want to know how this application fits in the end-to-end process. Setting expectations and laying out next steps will reduce the need for additional calls or visits to ask simple questions about the process." %>></span>
      <h3 class="with-padding-med">What to expect next:</h3>

      <% if current_application.navigator.applying_for_food? %>
          <div class="media-box with-padding-small">
            <div class="media-box__media">
              <div class="emoji emoji--med emoji--clipboard"></div>
            </div>
            <div class="media-box__content">
              <p>
                <b>The interview will take about 30 minutes.</b> A worker will ask you
                about your household, income, expenses, and other eligibility
                requirements.
              </p>
            </div>
          </div>
      <% end %>

      <div class="media-box with-padding-small">
        <div class="media-box__media">
          <div class="emoji emoji--med emoji--page-facing-up"></div>
        </div>
        <div class="media-box__content">
          <p>
            <b>Your county will provide you with a list of paperwork</b> you may need to
            submit to verify your eligibility. Commonly requested items are
            identification, paystubs, and health insurance cards if you have
            another plan currently.
          </p>
        </div>
      </div>

      <div class="media-box with-padding-med">
        <div class="media-box__media">
          <div class="emoji emoji--med emoji--modern-phone"></div>
        </div>
        <div class="media-box__content">
          <div class="media-box__content">
            <p>
              <b>If you have questions about your application</b>
              contact the <%= full_office_name(current_application) %>
              office at <%= number_to_phone(current_application.receiving_office_phone_number) %>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-full-border"></div>
    <div id="feedback-form" class="center">
      <%= render partial: "feedbacks/form", locals: { feedback_form: @feedback_form } %>
    </div>
  </main>
  <div class="form-card nudge--large">
    <div class="form-card__content">
      <%= form_for @form,
                   as: :form,
                   builder: MbFormBuilder,
                   url: current_path,
                   method: :put do |f| %>

          <h3 class="nudge--tiny">Want a copy of your application?</h3>
          <p>
            Enter your email address below to receive an email with a copy of your
            application.
          </p>
          <%= f.mb_input_field :email, "Your email address",
                               type: "email",
                               options: { placeholder: "me@example.com" } %>

          <button class="button button--full-mobile" type="submit">
            Email me
            <i class="button__icon icon-arrow_forward"></i>
          </button>
      <% end %>
    </div>
  </div>

<% end %>

<% content_for :dark_background, true %>
