<% content_for :header_title, 'Your Household' %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us a bit more about your household.
    </div>
    <p class="text--help text--centered">
      These questions help us determine eligibility and could help you qualify
      for waivers to certain program rules.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_radio_set :everyone_a_citizen,
        label_text: "Is each person a US citizen/national?",
        collection: [{ value: :true, label: "Yes" }, { value: :false, label: "No" }],
        layout: "inline" %>
      <%= f.mb_radio_set :anyone_disabled,
        label_text: "Does anyone have a disability?",
        collection: [{ value: :true, label: "Yes" }, { value: :false, label: "No" }],
        help_text: "This includes physical, mental, or emotional health challenges.",
        layout: "inline" %>
      <%= f.mb_radio_set :anyone_new_mom,
        label_text: "Is anyone pregnant or has been pregnant recently?",
        collection: [{ value: :true, label: "Yes" }, { value: :false, label: "No" }],
        help_text: "This includes anyone who has been pregnant in the last two months",
        layout: "inline" %>
      <%= f.mb_radio_set :anyone_in_college,
        label_text: "Is anyone enrolled in college or vocational school?",
        collection: [{ value: :true, label: "Yes" }, { value: :false, label: "No" }],
        layout: "inline" %>
      <%= f.mb_radio_set :anyone_living_elsewhere,
        label_text: "Is anyone temporarily living outside the home?",
        collection: [{ value: :true, label: "Yes" }, { value: :false, label: "No" }],
        layout: "inline" %>

      <%= render "shared/next_step" %>
    <% end %>
  </div>
</div>
