- content_for :header_title, 'Money & Income'

.form-card
  = form_for @step, as: :step, url: current_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Tell us more about your household's employment

    .form-card__content
      - fields_for_each_member(f, @step.household_members) do |ff, member|
        - unless member.unemployed?
          .step-section-header__headline
            = header_name(member)

          %p.text--help
            = member.employment_status.titleize

          - if member.employed?
            = render 'shared/question',
              f: ff,
              title: 'Employer name',
              type: :text_field,
              method: :employer_name,
              placeholder: 'Employer'

            = render 'shared/question',
              f: ff,
              title: 'Usual hours per week',
              type: :number_field,
              method: :hours_per_week

            = render 'shared/question',
              f: ff,
              title: 'Pay (before tax)',
              type: :money_field,
              help: 'This includes money withheld from paychecks',
              method: :pay_quantity do
              %label
                per
                = render 'shared/question/content',
                  f: ff,
                  type: :select,
                  method: :pay_interval,
                  options: HouseholdMember::PAY_INTERVALS

          - if member.self_employed?
            = render 'shared/question',
              f: ff,
              title: 'Type of work',
              type: :text_field,
              method: :profession,
              placeholder: 'Profession'

            = render 'shared/question',
              f: ff,
              title: 'Monthly pay (before tax)',
              type: :money_field,
              method: :monthly_pay

          = render 'shared/question',
            f: ff,
            title: 'Is this income consistent month-to-month?',
            type: :yes_no,
            method: :income_consistent

          - if member.self_employed?
            = render 'shared/question',
              f: ff,
              title: 'Monthly expenses',
              type: :money_field,
              method: :monthly_expenses


    = render 'shared/next_step'
