<% content_for :body do %>
  <div class="app-container">
    <div class="app-nav">
      <%= yield :app_navigation %>
    </div>

    <% if content_for?(:app_aside) %>
      <div class="app-content">
        <%= yield %>
      </div>

      <div class="app-aside">
        <%= yield :app_aside %>
      </div>
    <% else %>
      <div class="app-content-wide">
        <%= yield %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render template: "layouts/raw" %>
