!!!
%html{ lang: 'en' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ content: Rails.application.config.project_description, name: 'description' }

    %title
      - if content_for?(:title)
        = content_for(:title)
      - else
        = Rails.application.config.site_name

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  :ruby
    body_classes = []
    if content_for?(:template_name)
      body_classes << "template--#{content_for(:template_name)}"
    end

  %body{ class: body_classes }
    .page-wrapper
      = content_for?(:content) ? content_for(:content) : yield

    = capture { content_for(:javascript) }
