- content_for :template_name, 'step'

- content_for :step_header do
  .step-header
    - back_path = content_for(:back_path) || previous_path(rel: 'back')
    = link_to back_path, class: 'step-header__back-link' do
      %i.button__icon.icon-arrow_back

    %h4.step-header__title
      = content_for :header_title

  = render 'shared/debug'

- content_for :footer do
  = render 'shared/footer'

= render 'layouts/application'
