- content_for :content do
  - content_for :template_name, 'step'

  .step-header
    - back_path = content_for(:back_path) || previous_path(rel: 'back')
    - if back_path.present?
      = link_to back_path, class: 'step-header__back-link' do
        %i.button__icon.icon-arrow_back

    %h4.step-header__title
      = content_for :header_title

  = render 'shared/debug'

  = yield

  = render 'shared/footer'

= render template: 'layouts/application'
