<div class="row">
  <div class="small-12 large-6 large-centered columns">
    <h1>Signup</h1>

    <%= form_for @account do |f| %>
      <div class="row">
        <div class="large-12 columns <%= "error" if f.object.errors[:email].any? %>">
          <label>E-mail: <%= f.text_field :email %></label>
          <%- if f.object.errors[:email].any? %>
            <small class="error"><%= f.object.errors[:email].to_sentence %></small>
          <%- end %>
        </div>
        <div class="large-12 columns <%= "error" if f.object.errors[:password].any? %>">
          <label>Password: <%= f.password_field :password %></label>
          <%- if f.object.errors[:password].any? %>
            <small class="error"><%= f.object.errors[:password].to_sentence %></small>
          <%- end %>
        </div>
        <div class="large-12 columns">
          <%= f.submit :class=>'button primary medium'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
